/* src/styles/style.css */

.contenedor-principal {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se desplacen a una nueva fila cuando no hay espacio suficiente */
    justify-content: space-between; /* Distribuye el espacio entre las tarjetas en cada fila */
  }

.contenedor-pokemon {
    border: 1px solid #ddd; /* Agrega un borde para separar las tarjetas */
    margin: 10px;
    padding: 10px;
    width: 250px; /* Ajusta el ancho de la tarjeta según tus preferencias */
    display: inline-block; /* Muestra las tarjetas en línea para que haya 3 por fila */
    vertical-align: top; /* Alinea las tarjetas en la parte superior de la fila */
    text-align: center; /* Centra el contenido dentro de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Puedes ajustar los valores según tus preferencias */
  }
  
  .imagen-pokemon {
    max-width: 100%;
    height: auto;
  }
  
  /* Añade estilos para la información del Pokémon debajo de la imagen */
  .contenedor-descripcion-pokemon {
    margin-top: 10px;
  }
  
  .encabezado {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .encabezado input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .encabezado button {
    padding: 5px 10px;
  }
  